In [1]:
import pandas as pd
import re
import json
import os
import seaborn as sns

### FIRST IMPORT

In [2]:
os.chdir('C:/Users/raghu/assessor')

In [3]:
with open('assessor0.0.json') as json_data:
    data = json.load(json_data)

In [4]:
raw_dataframe=pd.DataFrame({ key:pd.Series(value) for key, value in data.items() })

In [5]:
raw_dataframe.head()

,fields,objectIdFieldName,globalIdFieldName,features
0,"{'type': 'esriFieldTypeString', 'length': 27, ...",ESRI_OID,,"{'attributes': {'ST_PRE_DIR': None, 'TAX_EXEMP..."
1,"{'type': 'esriFieldTypeInteger', 'domain': Non...",NaN,NaN,"{'attributes': {'ST_PRE_DIR': None, 'TAX_EXEMP..."
2,"{'type': 'esriFieldTypeString', 'length': 10, ...",NaN,NaN,"{'attributes': {'ST_PRE_DIR': None, 'TAX_EXEMP..."
3,"{'type': 'esriFieldTypeString', 'length': 2, '...",NaN,NaN,"{'attributes': {'ST_PRE_DIR': None, 'TAX_EXEMP..."
4,"{'type': 'esriFieldTypeString', 'length': 40, ...",NaN,NaN,"{'attributes': {'ST_PRE_DIR': None, 'TAX_EXEMP..."

In [6]:
raw_dataframe.columns

Index(['fields', 'objectIdFieldName', 'globalIdFieldName', 'features'], dtype='object')

In [7]:
reObj = re.compile('name')
column_name=[]
for count in range(0,raw_dataframe.fields.notna().sum()):
    for key in (raw_dataframe.fields[count]).keys():
        if(reObj.match(key)):
            column_name.append((raw_dataframe.fields[count])[key])

In [8]:
column_name

['APN',
 'ANUMBER',
 'ANUMBERSUF',
 'ST_PRE_DIR',
 'ST_NAME',
 'ST_TYPE',
 'ST_POST_DIR',
 'AUNIT',
 'ZIPCODE',
 'FORMATTED_ADDRESS',
 'OWNERNAME',
 'TAXPAYER1',
 'TAXPAYER2',
 'TAXPAYER3',
 'TAXPAYER4',
 'ASSESSMENT_YEAR',
 'TAX_YEAR',
 'PLAT',
 'PROPERTY_TYPE',
 'MAIN_PT',
 'SUB_PT1',
 'SUB_PT2',
 'SUB_PT3',
 'MULTIPLE_USES',
 'TAX_EXEMPT',
 'EXEMPTCD1',
 'EXEMPTCD2',
 'EXEMPTCD3',
 'EXEMPTCD4',
 'PARCEL_AREA_SQFT',
 'X',
 'Y',
 'NEIGHBORHOOD',
 'COMMUNITY',
 'WARD',
 'ZONING',
 'LANDUSE',
 'LANDVALUE',
 'BUILDINGVALUE',
 'TOTALVALUE',
 'EXEMPTSTATUS',
 'HOMESTEAD',
 'BUILDINGUSE',
 'YEARBUILT',
 'BELOWGROUNDAREA',
 'ABOVEGROUNDAREA',
 'NUM_STORIES',
 'GARAGE_PRESENT',
 'PRIMARYHEATING',
 'CONSTRUCTIONTYPE',
 'EXTERIORTYPE',
 'ROOF',
 'TOTAL_UNITS',
 'FIREPLACES',
 'BATHROOMS',
 'BEDROOMS',
 'ESRI_OID']

In [9]:
dataframe=pd.DataFrame(columns=column_name)

In [10]:
for colname in column_name:
    reObj_row = re.compile(r'\b%s\b'%colname)
    coldata=[]
    for count in range(0,len(raw_dataframe.features)):
        for key in (raw_dataframe.features[count]['attributes']).keys():
            if(reObj_row.match(key)):
                coldata.append((raw_dataframe.features[count]['attributes'])[key])
    dataframe[colname]=coldata

In [11]:
dataframe.head()

,APN,ANUMBER,ANUMBERSUF,ST_PRE_DIR,ST_NAME,ST_TYPE,ST_POST_DIR,AUNIT,ZIPCODE,FORMATTED_ADDRESS,...,GARAGE_PRESENT,PRIMARYHEATING,CONSTRUCTIONTYPE,EXTERIORTYPE,ROOF,TOTAL_UNITS,FIREPLACES,BATHROOMS,BEDROOMS,ESRI_OID
0,2302924420014,206,None,None,Main,St,SE,None,55413,206 Main St SE,...,Yes,N/A,Brick & Mill,Brick,Flat,N/A,0.0,0.0,0.0,1
1,2202924440101,150,None,None,5TH,St,S,None,55402-4200,150 5TH St S,...,Yes,Steam,Reinforced Concrete,Other,Flat,N/A,0.0,0.0,0.0,2
2,1002824310243,4239,None,None,Pillsbury,Ave,None,#21,55409-1915,4239 Pillsbury Ave #21,...,Yes,Forced Air,Wood Frame,Metal/Vinyl,Gable,1,0.0,1.0,2.0,3
3,2402924220345,333,None,None,8TH,St,SE,#315,55414-1255,333 8TH St SE #315,...,Yes,Hot Water,Wood Frame,Wood,Flat,1,0.0,2.0,2.0,4
4,0702823430060,4430,None,None,41ST,Ave,S,None,55406-4040,4430 41ST Ave S,...,Yes,Hot Water,Wood Frame,Stucco,Gable,2,0.0,3.0,3.0,5

In [12]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 57 columns):
APN                  2000 non-null object
ANUMBER              2000 non-null int64
ANUMBERSUF           14 non-null object
ST_PRE_DIR           0 non-null object
ST_NAME              2000 non-null object
ST_TYPE              2000 non-null object
ST_POST_DIR          1305 non-null object
AUNIT                624 non-null object
ZIPCODE              1999 non-null object
FORMATTED_ADDRESS    2000 non-null object
OWNERNAME            2000 non-null object
TAXPAYER1            2000 non-null object
TAXPAYER2            2000 non-null object
TAXPAYER3            1999 non-null object
TAXPAYER4            471 non-null object
ASSESSMENT_YEAR      2000 non-null int64
TAX_YEAR             2000 non-null int64
PLAT                 2000 non-null object
PROPERTY_TYPE        2000 non-null object
MAIN_PT              2000 non-null object
SUB_PT1              112 non-null object
SUB_PT2              3 non-null object
SUB_PT3              0 non-null object
MULTIPLE_USES        2000 non-null object
TAX_EXEMPT           2000 non-null object
EXEMPTCD1            78 non-null object
EXEMPTCD2            14 non-null object
EXEMPTCD3            0 non-null object
EXEMPTCD4            0 non-null object
PARCEL_AREA_SQFT     2000 non-null float64
X                    2000 non-null float64
Y                    2000 non-null float64
NEIGHBORHOOD         2000 non-null object
COMMUNITY            2000 non-null object
WARD                 2000 non-null object
ZONING               2000 non-null object
LANDUSE              2000 non-null object
LANDVALUE            2000 non-null int64
BUILDINGVALUE        1989 non-null float64
TOTALVALUE           2000 non-null int64
EXEMPTSTATUS         2000 non-null object
HOMESTEAD            2000 non-null object
BUILDINGUSE          1987 non-null object
YEARBUILT            1986 non-null float64
BELOWGROUNDAREA      1222 non-null float64
ABOVEGROUNDAREA      1827 non-null float64
NUM_STORIES          1987 non-null object
GARAGE_PRESENT       1987 non-null object
PRIMARYHEATING       1987 non-null object
CONSTRUCTIONTYPE     1987 non-null object
EXTERIORTYPE         1987 non-null object
ROOF                 1987 non-null object
TOTAL_UNITS          1987 non-null object
FIREPLACES           1987 non-null float64
BATHROOMS            1987 non-null float64
BEDROOMS             1987 non-null float64
ESRI_OID             2000 non-null int64
dtypes: float64(10), int64(6), object(41)
memory usage: 890.7+ KB

# IMPORTING FROM SECOND ONWARDS

In [727]:
with open('assessor79.0.json') as json_data:
    data = json.load(json_data)
raw_dataframe=pd.DataFrame({ key:pd.Series(value) for key, value in data.items() })
raw_dataframe.head()

,exceededTransferLimit,fields,objectIdFieldName,globalIdFieldName,features
0,True,"{'type': 'esriFieldTypeString', 'length': 27, ...",ESRI_OID,,"{'attributes': {'ST_PRE_DIR': None, 'TAX_EXEMP..."
1,NaN,"{'type': 'esriFieldTypeInteger', 'domain': Non...",NaN,NaN,"{'attributes': {'ST_PRE_DIR': None, 'TAX_EXEMP..."
2,NaN,"{'type': 'esriFieldTypeString', 'length': 10, ...",NaN,NaN,"{'attributes': {'ST_PRE_DIR': None, 'TAX_EXEMP..."
3,NaN,"{'type': 'esriFieldTypeString', 'length': 2, '...",NaN,NaN,"{'attributes': {'ST_PRE_DIR': None, 'TAX_EXEMP..."
4,NaN,"{'type': 'esriFieldTypeString', 'length': 40, ...",NaN,NaN,"{'attributes': {'ST_PRE_DIR': None, 'TAX_EXEMP..."

In [728]:
reObj = re.compile('name')
column_name_1=[]
for count in range(0,raw_dataframe.fields.notna().sum()):
    for key in (raw_dataframe.fields[count]).keys():
        if(reObj.match(key)):
            column_name_1.append((raw_dataframe.fields[count])[key]) 
            
column_name_1

['APN',
 'ANUMBER',
 'ANUMBERSUF',
 'ST_PRE_DIR',
 'ST_NAME',
 'ST_TYPE',
 'ST_POST_DIR',
 'AUNIT',
 'ZIPCODE',
 'FORMATTED_ADDRESS',
 'OWNERNAME',
 'TAXPAYER1',
 'TAXPAYER2',
 'TAXPAYER3',
 'TAXPAYER4',
 'ASSESSMENT_YEAR',
 'TAX_YEAR',
 'PLAT',
 'PROPERTY_TYPE',
 'MAIN_PT',
 'SUB_PT1',
 'SUB_PT2',
 'SUB_PT3',
 'MULTIPLE_USES',
 'TAX_EXEMPT',
 'EXEMPTCD1',
 'EXEMPTCD2',
 'EXEMPTCD3',
 'EXEMPTCD4',
 'PARCEL_AREA_SQFT',
 'X',
 'Y',
 'NEIGHBORHOOD',
 'COMMUNITY',
 'WARD',
 'ZONING',
 'LANDUSE',
 'LANDVALUE',
 'BUILDINGVALUE',
 'TOTALVALUE',
 'EXEMPTSTATUS',
 'HOMESTEAD',
 'BUILDINGUSE',
 'YEARBUILT',
 'BELOWGROUNDAREA',
 'ABOVEGROUNDAREA',
 'NUM_STORIES',
 'GARAGE_PRESENT',
 'PRIMARYHEATING',
 'CONSTRUCTIONTYPE',
 'EXTERIORTYPE',
 'ROOF',
 'TOTAL_UNITS',
 'FIREPLACES',
 'BATHROOMS',
 'BEDROOMS',
 'ESRI_OID']

In [729]:
dataframe_1=pd.DataFrame(columns=column_name_1)

In [730]:
for colname in column_name_1:
    reObj_row = re.compile(r'\b%s\b'%colname)
    coldata=[]
    for count in range(0,len(raw_dataframe.features)):
        for key in (raw_dataframe.features[count]['attributes']).keys():
            if(reObj_row.match(key)):
                coldata.append((raw_dataframe.features[count]['attributes'])[key])
    dataframe_1[colname]=coldata

In [731]:
dataframe_1.head()

,APN,ANUMBER,ANUMBERSUF,ST_PRE_DIR,ST_NAME,ST_TYPE,ST_POST_DIR,AUNIT,ZIPCODE,FORMATTED_ADDRESS,...,GARAGE_PRESENT,PRIMARYHEATING,CONSTRUCTIONTYPE,EXTERIORTYPE,ROOF,TOTAL_UNITS,FIREPLACES,BATHROOMS,BEDROOMS,ESRI_OID
0,1502824310037,5123,None,None,Wentworth,Ave,None,None,55419-1301,5123 Wentworth Ave,...,Yes,Hot Water,Brick & Mill,Wood,Gable,1,2.0,4.0,4.0,158000
1,3502924130061,1200,None,None,25TH,St,E,None,55404-3821,1200 25TH St E,...,Yes,Forced Air,Wood Frame,Metal/Vinyl,Gable,1,0.0,1.0,3.0,158001
2,0402924410128,3815,None,None,Aldrich,Ave,N,None,55412-2152,3815 Aldrich Ave N,...,Yes,Forced Air,Wood Frame,Metal/Vinyl,Gable,1,0.0,1.0,2.0,158002
3,0902924330193,2622,None,None,Newton,Ave,N,None,55411-1845,2622 Newton Ave N,...,Yes,Forced Air,Wood Frame,Other,Gable,1,0.0,1.0,2.0,158003
4,0202924210054,529,None,None,36TH,Ave,NE,None,55418-1228,529 36TH Ave NE,...,Yes,Forced Air,Wood Frame,Stucco,Gable,1,0.0,2.0,4.0,158004

In [732]:
dataframe_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 57 columns):
APN                  2000 non-null object
ANUMBER              2000 non-null int64
ANUMBERSUF           15 non-null object
ST_PRE_DIR           0 non-null object
ST_NAME              2000 non-null object
ST_TYPE              2000 non-null object
ST_POST_DIR          1428 non-null object
AUNIT                328 non-null object
ZIPCODE              2000 non-null object
FORMATTED_ADDRESS    2000 non-null object
OWNERNAME            2000 non-null object
TAXPAYER1            2000 non-null object
TAXPAYER2            2000 non-null object
TAXPAYER3            2000 non-null object
TAXPAYER4            517 non-null object
ASSESSMENT_YEAR      2000 non-null int64
TAX_YEAR             2000 non-null int64
PLAT                 2000 non-null object
PROPERTY_TYPE        2000 non-null object
MAIN_PT              2000 non-null object
SUB_PT1              40 non-null object
SUB_PT2              9 non-null object
SUB_PT3              0 non-null object
MULTIPLE_USES        2000 non-null object
TAX_EXEMPT           2000 non-null object
EXEMPTCD1            133 non-null object
EXEMPTCD2            0 non-null object
EXEMPTCD3            0 non-null object
EXEMPTCD4            0 non-null object
PARCEL_AREA_SQFT     2000 non-null int64
X                    2000 non-null float64
Y                    2000 non-null float64
NEIGHBORHOOD         2000 non-null object
COMMUNITY            2000 non-null object
WARD                 2000 non-null object
ZONING               2000 non-null object
LANDUSE              2000 non-null object
LANDVALUE            2000 non-null int64
BUILDINGVALUE        1880 non-null float64
TOTALVALUE           2000 non-null int64
EXEMPTSTATUS         2000 non-null object
HOMESTEAD            2000 non-null object
BUILDINGUSE          1855 non-null object
YEARBUILT            1854 non-null float64
BELOWGROUNDAREA      1468 non-null float64
ABOVEGROUNDAREA      1767 non-null float64
NUM_STORIES          1854 non-null object
GARAGE_PRESENT       1855 non-null object
PRIMARYHEATING       1855 non-null object
CONSTRUCTIONTYPE     1855 non-null object
EXTERIORTYPE         1855 non-null object
ROOF                 1855 non-null object
TOTAL_UNITS          1855 non-null object
FIREPLACES           1855 non-null float64
BATHROOMS            1855 non-null float64
BEDROOMS             1855 non-null float64
ESRI_OID             2000 non-null int64
dtypes: float64(9), int64(7), object(41)
memory usage: 890.7+ KB

In [733]:
dataframe=pd.concat([dataframe,dataframe_1],join='inner')
dataframe.reset_index(inplace=True)

In [734]:
dataframe.tail()

,index,APN,ANUMBER,ANUMBERSUF,ST_PRE_DIR,ST_NAME,ST_TYPE,ST_POST_DIR,AUNIT,ZIPCODE,...,GARAGE_PRESENT,PRIMARYHEATING,CONSTRUCTIONTYPE,EXTERIORTYPE,ROOF,TOTAL_UNITS,FIREPLACES,BATHROOMS,BEDROOMS,ESRI_OID
159995,1995,0602823310148,3440.0,None,None,36TH,Ave,S,None,55406-2704,...,Yes,Forced Air,Wood Frame,Stucco,Gable,1,1.0,1.0,3.0,159995
159996,1996,0902924220066,3439.0,None,None,Newton,Ave,N,None,55412-2311,...,Yes,Forced Air,Wood Frame,Metal/Vinyl,Gable,1,0.0,1.0,3.0,159996
159997,1997,0802823220028,4812.0,None,None,Dowling,St,None,None,55406-3609,...,Yes,Forced Air,Wood Frame,Brick,Gable,1,1.0,1.0,3.0,159997
159998,1998,0402824120177,3136.0,None,None,Girard,Ave,S,#3136A,55408-2737,...,Yes,Steam,Wood Frame,Brick,Flat,1,0.0,1.0,2.0,159998
159999,1999,0802924120040,3546.0,None,None,Upton,Ave,N,None,55412-2212,...,Yes,Forced Air,Wood Frame,Wood,Hip,1,0.0,2.0,3.0,159999

In [735]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160000 entries, 0 to 159999
Data columns (total 58 columns):
index                160000 non-null int64
APN                  160000 non-null object
ANUMBER              159977 non-null float64
ANUMBERSUF           1216 non-null object
ST_PRE_DIR           6 non-null object
ST_NAME              159977 non-null object
ST_TYPE              159997 non-null object
ST_POST_DIR          111992 non-null object
AUNIT                27062 non-null object
ZIPCODE              159887 non-null object
FORMATTED_ADDRESS    160000 non-null object
OWNERNAME            160000 non-null object
TAXPAYER1            160000 non-null object
TAXPAYER2            159980 non-null object
TAXPAYER3            159969 non-null object
TAXPAYER4            40069 non-null object
ASSESSMENT_YEAR      160000 non-null int64
TAX_YEAR             160000 non-null int64
PLAT                 159986 non-null object
PROPERTY_TYPE        160000 non-null object
MAIN_PT              159995 non-null object
SUB_PT1              4207 non-null object
SUB_PT2              227 non-null object
SUB_PT3              6 non-null object
MULTIPLE_USES        160000 non-null object
TAX_EXEMPT           160000 non-null object
EXEMPTCD1            9874 non-null object
EXEMPTCD2            598 non-null object
EXEMPTCD3            66 non-null object
EXEMPTCD4            0 non-null object
PARCEL_AREA_SQFT     160000 non-null float64
X                    159999 non-null float64
Y                    159999 non-null float64
NEIGHBORHOOD         160000 non-null object
COMMUNITY            160000 non-null object
WARD                 159999 non-null object
ZONING               159966 non-null object
LANDUSE              160000 non-null object
LANDVALUE            159989 non-null float64
BUILDINGVALUE        152813 non-null float64
TOTALVALUE           160000 non-null int64
EXEMPTSTATUS         160000 non-null object
HOMESTEAD            160000 non-null object
BUILDINGUSE          150983 non-null object
YEARBUILT            150897 non-null float64
BELOWGROUNDAREA      118144 non-null float64
ABOVEGROUNDAREA      144217 non-null float64
NUM_STORIES          150982 non-null object
GARAGE_PRESENT       150983 non-null object
PRIMARYHEATING       150983 non-null object
CONSTRUCTIONTYPE     150983 non-null object
EXTERIORTYPE         150983 non-null object
ROOF                 150983 non-null object
TOTAL_UNITS          150981 non-null object
FIREPLACES           150983 non-null float64
BATHROOMS            150983 non-null float64
BEDROOMS             150983 non-null float64
ESRI_OID             160000 non-null int64
dtypes: float64(12), int64(5), object(41)
memory usage: 70.8+ MB

In [736]:
dataframe.drop('index',axis=1).to_csv('accessor.csv')

In [737]:
dataframe.head()

,index,APN,ANUMBER,ANUMBERSUF,ST_PRE_DIR,ST_NAME,ST_TYPE,ST_POST_DIR,AUNIT,ZIPCODE,...,GARAGE_PRESENT,PRIMARYHEATING,CONSTRUCTIONTYPE,EXTERIORTYPE,ROOF,TOTAL_UNITS,FIREPLACES,BATHROOMS,BEDROOMS,ESRI_OID
0,0,2302924420014,206.0,None,None,Main,St,SE,None,55413,...,Yes,N/A,Brick & Mill,Brick,Flat,N/A,0.0,0.0,0.0,1
1,1,2202924440101,150.0,None,None,5TH,St,S,None,55402-4200,...,Yes,Steam,Reinforced Concrete,Other,Flat,N/A,0.0,0.0,0.0,2
2,2,1002824310243,4239.0,None,None,Pillsbury,Ave,None,#21,55409-1915,...,Yes,Forced Air,Wood Frame,Metal/Vinyl,Gable,1,0.0,1.0,2.0,3
3,3,2402924220345,333.0,None,None,8TH,St,SE,#315,55414-1255,...,Yes,Hot Water,Wood Frame,Wood,Flat,1,0.0,2.0,2.0,4
4,4,0702823430060,4430.0,None,None,41ST,Ave,S,None,55406-4040,...,Yes,Hot Water,Wood Frame,Stucco,Gable,2,0.0,3.0,3.0,5

In [738]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160000 entries, 0 to 159999
Data columns (total 58 columns):
index                160000 non-null int64
APN                  160000 non-null object
ANUMBER              159977 non-null float64
ANUMBERSUF           1216 non-null object
ST_PRE_DIR           6 non-null object
ST_NAME              159977 non-null object
ST_TYPE              159997 non-null object
ST_POST_DIR          111992 non-null object
AUNIT                27062 non-null object
ZIPCODE              159887 non-null object
FORMATTED_ADDRESS    160000 non-null object
OWNERNAME            160000 non-null object
TAXPAYER1            160000 non-null object
TAXPAYER2            159980 non-null object
TAXPAYER3            159969 non-null object
TAXPAYER4            40069 non-null object
ASSESSMENT_YEAR      160000 non-null int64
TAX_YEAR             160000 non-null int64
PLAT                 159986 non-null object
PROPERTY_TYPE        160000 non-null object
MAIN_PT              159995 non-null object
SUB_PT1              4207 non-null object
SUB_PT2              227 non-null object
SUB_PT3              6 non-null object
MULTIPLE_USES        160000 non-null object
TAX_EXEMPT           160000 non-null object
EXEMPTCD1            9874 non-null object
EXEMPTCD2            598 non-null object
EXEMPTCD3            66 non-null object
EXEMPTCD4            0 non-null object
PARCEL_AREA_SQFT     160000 non-null float64
X                    159999 non-null float64
Y                    159999 non-null float64
NEIGHBORHOOD         160000 non-null object
COMMUNITY            160000 non-null object
WARD                 159999 non-null object
ZONING               159966 non-null object
LANDUSE              160000 non-null object
LANDVALUE            159989 non-null float64
BUILDINGVALUE        152813 non-null float64
TOTALVALUE           160000 non-null int64
EXEMPTSTATUS         160000 non-null object
HOMESTEAD            160000 non-null object
BUILDINGUSE          150983 non-null object
YEARBUILT            150897 non-null float64
BELOWGROUNDAREA      118144 non-null float64
ABOVEGROUNDAREA      144217 non-null float64
NUM_STORIES          150982 non-null object
GARAGE_PRESENT       150983 non-null object
PRIMARYHEATING       150983 non-null object
CONSTRUCTIONTYPE     150983 non-null object
EXTERIORTYPE         150983 non-null object
ROOF                 150983 non-null object
TOTAL_UNITS          150981 non-null object
FIREPLACES           150983 non-null float64
BATHROOMS            150983 non-null float64
BEDROOMS             150983 non-null float64
ESRI_OID             160000 non-null int64
dtypes: float64(12), int64(5), object(41)
memory usage: 70.8+ MB

In [742]:
dataframe.drop(['index','ANUMBERSUF','ST_PRE_DIR','AUNIT','TAXPAYER4','SUB_PT1','SUB_PT2','SUB_PT3','EXEMPTCD1','EXEMPTCD2','EXEMPTCD3','EXEMPTCD4'],axis=1,inplace=True)

In [745]:
dataframe.head()

,APN,ANUMBER,ST_NAME,ST_TYPE,ST_POST_DIR,ZIPCODE,FORMATTED_ADDRESS,OWNERNAME,TAXPAYER1,TAXPAYER2,...,GARAGE_PRESENT,PRIMARYHEATING,CONSTRUCTIONTYPE,EXTERIORTYPE,ROOF,TOTAL_UNITS,FIREPLACES,BATHROOMS,BEDROOMS,ESRI_OID
0,2302924420014,206.0,Main,St,SE,55413,206 Main St SE,Northern States Power Co,NSP - PROPERTY TAX DEPT,414 NICOLLET MALL,...,Yes,N/A,Brick & Mill,Brick,Flat,N/A,0.0,0.0,0.0,1
1,2202924440101,150.0,5TH,St,S,55402-4200,150 5TH St S,Fifth Steet Towers Properties LLC,FIFTH ST TOWERS PROP LLC,C/O PIMCO,...,Yes,Steam,Reinforced Concrete,Other,Flat,N/A,0.0,0.0,0.0,2
2,1002824310243,4239.0,Pillsbury,Ave,None,55409-1915,4239 Pillsbury Ave #21,Danielle L Kassner,JOSHUA & DANIELLE KASSNER,4239 PILLSBURY AVE #21,...,Yes,Forced Air,Wood Frame,Metal/Vinyl,Gable,1,0.0,1.0,2.0,3
3,2402924220345,333.0,8TH,St,SE,55414-1255,333 8TH St SE #315,C H Sjoberg Alexius,LYNN M FISHER,MARI S SJOBERG,...,Yes,Hot Water,Wood Frame,Wood,Flat,1,0.0,2.0,2.0,4
4,0702823430060,4430.0,41ST,Ave,S,55406-4040,4430 41ST Ave S,Peter W Troyer,PETER TROYER,4430 41ST AVE S,...,Yes,Hot Water,Wood Frame,Stucco,Gable,2,0.0,3.0,3.0,5

In [744]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160000 entries, 0 to 159999
Data columns (total 46 columns):
APN                  160000 non-null object
ANUMBER              159977 non-null float64
ST_NAME              159977 non-null object
ST_TYPE              159997 non-null object
ST_POST_DIR          111992 non-null object
ZIPCODE              159887 non-null object
FORMATTED_ADDRESS    160000 non-null object
OWNERNAME            160000 non-null object
TAXPAYER1            160000 non-null object
TAXPAYER2            159980 non-null object
TAXPAYER3            159969 non-null object
ASSESSMENT_YEAR      160000 non-null int64
TAX_YEAR             160000 non-null int64
PLAT                 159986 non-null object
PROPERTY_TYPE        160000 non-null object
MAIN_PT              159995 non-null object
MULTIPLE_USES        160000 non-null object
TAX_EXEMPT           160000 non-null object
PARCEL_AREA_SQFT     160000 non-null float64
X                    159999 non-null float64
Y                    159999 non-null float64
NEIGHBORHOOD         160000 non-null object
COMMUNITY            160000 non-null object
WARD                 159999 non-null object
ZONING               159966 non-null object
LANDUSE              160000 non-null object
LANDVALUE            159989 non-null float64
BUILDINGVALUE        152813 non-null float64
TOTALVALUE           160000 non-null int64
EXEMPTSTATUS         160000 non-null object
HOMESTEAD            160000 non-null object
BUILDINGUSE          150983 non-null object
YEARBUILT            150897 non-null float64
BELOWGROUNDAREA      118144 non-null float64
ABOVEGROUNDAREA      144217 non-null float64
NUM_STORIES          150982 non-null object
GARAGE_PRESENT       150983 non-null object
PRIMARYHEATING       150983 non-null object
CONSTRUCTIONTYPE     150983 non-null object
EXTERIORTYPE         150983 non-null object
ROOF                 150983 non-null object
TOTAL_UNITS          150981 non-null object
FIREPLACES           150983 non-null float64
BATHROOMS            150983 non-null float64
BEDROOMS             150983 non-null float64
ESRI_OID             160000 non-null int64
dtypes: float64(12), int64(4), object(30)
memory usage: 56.2+ MB

In [757]:
len(dataframe['BATHROOMS'].unique())

23

In [802]:
dataframe['BEDROOMS'].unique()

array([  0.,   2.,   3.,   4.,  nan,   5.,   1.,   7.,   8.,   6.,   9.,
        10.,  13.,  18.,  15.,  16.,  14.,  12.,  17.,  11.,  24.,  20.,
        31., 124.,  74.,  33.,  21.,  26.,  88.,  32.,  38.,  19.,  40.,
        27.,  30.,  25.,  80.])

In [761]:
totalvar=[]
for var in dataframe.columns:
    totalvar.append(var)

In [765]:
for var in totalvar:
    print(var+"  "+str( len(dataframe[var].unique())))

APN  124919
ANUMBER  4551
ST_NAME  452
ST_TYPE  18
ST_POST_DIR  7
ZIPCODE  17595
FORMATTED_ADDRESS  132538
OWNERNAME  111569
TAXPAYER1  100489
TAXPAYER2  100306
TAXPAYER3  22680
ASSESSMENT_YEAR  1
TAX_YEAR  1
PLAT  3457
PROPERTY_TYPE  22
MAIN_PT  35
MULTIPLE_USES  2
TAX_EXEMPT  2
PARCEL_AREA_SQFT  13620
X  102681
Y  102509
NEIGHBORHOOD  87
COMMUNITY  11
WARD  14
ZONING  27
LANDUSE  20
LANDVALUE  7341
BUILDINGVALUE  11354
TOTALVALUE  7821
EXEMPTSTATUS  2
HOMESTEAD  2
BUILDINGUSE  154
YEARBUILT  161
BELOWGROUNDAREA  4638
ABOVEGROUNDAREA  8543
NUM_STORIES  49
GARAGE_PRESENT  3
PRIMARYHEATING  11
CONSTRUCTIONTYPE  9
EXTERIORTYPE  10
ROOF  10
TOTAL_UNITS  196
FIREPLACES  11
BATHROOMS  23
BEDROOMS  37
ESRI_OID  159999

In [803]:
dataframe.BEDROOMS.dropna().astype(float).quantile(.99)

7.0

In [805]:
dataframe.to_csv('data.csv')